<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <connectionStrings>
        <add name="SailbotContext"
             connectionString="Server=tcp:sql_sever_demo,1433;Database=SailBot;User ID=sa;Password=reallyStrongPwd123;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>