@using SailbotVSv3.ViewModels
@model RayeViewModel

<div id="main">
    <div class="inner">
        <header>
            <h1>This is the main page for UBC Sailbot Data Website </h1>
            <p></p>
        </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="~/images/pic01.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Boom Angle Sensor</h2>
                    <div class="content">
                        <b><u>Sensor Data</u></b>
                        <br />
                        Angle (-90 (left) to 90 (right) (degrees))
                        <br />
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="~/images/pic02.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Rudder Motor Control (2x)</h2>
                    <div class="content">
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="~/images/pic03.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Winch Motor Control (2x)</h2>
                    <div class="content">
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="~/images/pic04.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Wind Sensor (3x)</h2>
                    <div class="content">
                        <b><u>IIMWV (General Wind Data)</u></b>
                        <br />
                        Wind Speed (knots)
                        <br />
                        Wind Direction (degrees, clockwise from True North)
                        <br />
                        Wind Reference (true, relative)
                        <br />
                        <b><u>WIXDR (Wind Temp Data)</u></b>
                        <br />
                        Wind Temperature (celcuis)
                        <br />
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style5">
                <span class="image">
                    <img src="~/images/pic05.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Accelerometer (1x)</h2>
                    <div class="content">
                        <b><u>Boat Orientation Data (g for g-force)</u></b>
                        <br />
                        X-axis Acceleration (g)
                        <br />
                        Y-axis Acceleration (g)
                        <br />
                        Z-axis Acceleration (g)
                        <br />
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="~/images/pic06.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Battery Management System (6x)</h2>
                    <div class="content">
                        <b><u>Battery Pack Data</u></b>
                        <br />
                        Battery Pack Current (amps)
                        <br />
                        Battery Pack Total Voltage (volts)
                        <br />
                        Battery Pack Temperature (celsius)
                        <br />
                        <b><u>UCCM Data</u></b>
                        <br />
                        Current (amps)
                        <br />
                        Voltage (volts)
                        <br />
                        Temperature (celsius)
                        <br />
                        Status (on/off)
                    </div>
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/images/pic01.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>GPS (2x)</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
</div>