@using SailbotVSv3.ViewModels
@model RayeViewModel

@{
    foreach (var sensorModel in Model.Sensors)
    {
        <br />
        <br />
        <a asp-controller="SensorDetail" asp-action="Sensor" asp-route-type="@sensorModel.Type.Name">
            @sensorModel.Type.Name
        </a>
        <br />
        <div>@await Component.InvokeAsync("Sensor", sensorModel)</div>
        <br />
        <br />
    }
}