<!DOCTYPE html>
<html>
<head>
    <title>UBC Sailbot</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>

<body class="is-preload" style="background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);">

    <div id="wrapper" >

        <header id="header" style="padding: 2em 0 0.1em 0 ;">
            <div class="inner">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="~/images/Sailbot-Logo-Text.png" alt="" /></span><span class="title">UBC Sailbot</span>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Waypoint Map">Sensor Data</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Waypoint Map">Raw Sensor Data</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Waypoint Map">Historical Data</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Waypoint Map">Waypopint Map</a></li>
            </ul>
        </nav>
       @RenderBody()
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - SailbotVSv3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        </div>


      

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/browser.min.js"></script>
        <script src="~/js/breakpoints.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
