@using SailbotVSv3.ViewModels
@model WindViewModel

<h1>@Model.title</h1>
<h2></h2>


<table>
    @{
        var windsColumn = Wind.GetColumns();
        <tr>
            @{
                for (var i = 0; i < windsColumn.Length; i++)
                {
                    <th>@windsColumn[i].Name</th>
                }
            }
        </tr>
        foreach (var wind in Model.winds)
        {
            <tr>
            @{ 
                for (var i = 0; i < windsColumn.Length; i++)
                {
                    <th>@windsColumn[i].GetValue(wind)</th>
                }
            }
            </tr>
        }
    }
</table>

