<head>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            background-image: url('/w3images/forestbridge.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div>
        <div>
            Logo
        </div>
        <div>
            <h1>UBC Sailbot</h1>
            <h1>Raye</h1>
            <h1>About</h1>
            <h1>Goal</h1>
            <h1>Team</h1>
            <h1>Contact Us</h1>
            <p>Days to Launch: 10000 Days</p>
            <ul>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Raye" asp-action="Summary">Raye</a></li>
            </ul>
        </div>
    </div>
</body>
